$default-font:'Lato', sans-serif;

$white:#e0e0e0;
$white-eee:#eee;
$white-two: #f7f7f7;
$white-four:#ffffff;


$background: #eeeeee;

$percents-green-blue:#4eb495;
$percents-yellow:#ffb300;
$percents-orange:#ef6c00;

$title-header:24px;

$filter-color:#3971c1;
$filter-text:13px;


$language-text-color:#292929;
$language-text-size:14px;


$language-text-title-size:13px;
$language-text-title-down-size:10px;
$language-text-title-down-color:#666;


